h3 {
    color: #3498db; /* Azul */
    font-weight: bold;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    color: #2c3e50; /* Cor de texto mais suave */
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #ecf0f1; /* Cor de fundo da barra de rolagem */
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid #95a5a6; /* Cor do "thumb" da barra de rolagem */
}

body {
    background-color: #ecf0f1; 
    text-align: center;
    height: 100vh;
}

header img {
    height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

main section {
    width: 80%;
    margin: 20px 0;
}

main section img {
    width: 30%;
    margin: 10px 0;
    border-radius: 10px;
}

.imagem-grande {
    width: 90%;
}

main section img:hover {
    border: #2980b9 1px solid; /* Azul suave */
}

.div-especial {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 90%;
}

.div-especial div,
.div-especial section {
    margin: 0 10px;
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-especial img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: start;
    color: #34495e; /* Cor mais suave para o título */
}

hr {
    border: #bdc3c7 1px solid; /* Cinza claro */
    width: 90%;
    margin: 10px 0;
}

.hr-especial {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    text-align: start;
    color: #34495e; /* Cor mais suave para subtítulos */
    margin-top: 20px;
}

p {
    text-align: justify;
}

pre {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 10px 0;
    border-left: #95a5a6 5px solid; /* Cor de borda sutil */
    transition: 0.5s;
}

pre:hover {
    box-shadow: 0 3px 10px #34495e; /* Cor mais suave no hover */
    transform: translateY(-3px);
}

.laranja {
    color: #e67e22; /* Laranja mais suave */
}

.roxo {
    color: #8e44ad; /* Roxo mais suave */
}

.verde {
    color: #2ecc71; /* Verde suave */
}

ul {
    margin-top: 10px;
    text-align: start;
}

.center {
    text-align: center;
}

iframe {
    border: 2px #7f8c8d dotted;
    border-radius: 10px;
}

#redes {
    margin-top: 10px;
}

#redes a {
    border: 1px solid #95a5a6;
    padding: 3px;
    color: #2c3e50; /* Cor do texto dos links */
}

#redes a:hover {
    font-weight: bold;
    background: linear-gradient(to right, #2980b9, #3498db, #5dade2, #5499c7, #1f618d);
}

.quest {
    display: none;
}

.programacao {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.programacao:hover {
    box-shadow: 0 3px 5px #95a5a6;
    transform: translateY(-3px);
}

button {
    margin-top: 10px;
    padding: 3px 5px;
    border: 3px solid #3498db; /* Azul suave */
    background-color: #3498db; /* Azul suave */
    color: white;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(to right, #2980b9, #3498db, #5dade2, #5499c7, #1f618d);
    background-color: transparent;
    font-weight: bold;
    box-shadow: 0 0 2px #3498db;
}

footer {
    background: linear-gradient(to right, #2980b9, #3498db, #5dade2, #5499c7, #1f618d);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto no footer */
}

header {
    background: linear-gradient(to right, #2980b9, #3498db, #5dade2, #5499c7, #1f618d);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white; /* Cor do texto dos links */
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}

a:hover {
    background-color: #555;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 15px;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: block;
    }

    button {
        width: 90%;
        height: auto;
    }

    a {
        padding: 0px;
    }

    p {
        padding: 0px;
        text-align: center;
    }

    img {
        justify-content: center;
        display: block;
    }

    iframe {
        width: 125%;
        height: auto;
    }
}

.logo_cunha {
    height: 70px;
    width: 70px;
}

.img-especial {
    width: 450px;
    height: 275px;
}